#main{
  height:100%;
  width:100%;
}

.tab_content{
  height:100%;
  width:100%;
}

.chart_container:hover{
    border:1 solid red
}

.chart_container.drop_active{
    border:1 solid green
}

.chart_container{
    border:none;
    height:60px;
    width:100%;
}

.chart_container  .chart{
    float:right;
    width:80%
}
.chart_container  .note{
    float:left;
    width:20%;
}

#signal_panel .selected.signal{
    background:green;
}

#signal_panel .signal{
    background:gray;
}
#signal_panel
{ width: 150px; height: 150px; padding: 0.5em; }
#signal_panel h3 { text-align: center; margin: 0; }
