.chart_container:hover{
    border:1 solid red
}
.chart_container{
    border:none
}

.chart_container  .chart{
    float:right;
    width:80%
}
.chart_container  .note{
    float:left;
    width:20%;
}

#signal_panel .selected.signal{
    background:green;
}

#signal_panel .signal{
    background:gray;
}